/*! purgecss start ignore */

@tailwind base;
@tailwind components;
/*! purgecss end ignore */

@tailwind utilities;

/* * * * * * * * * * * * *
 * 1. Fonts  			 *
 * 2. Global Styling 	 *
 * 3. Components  		 *
 *    a. Header 		 *
 *    b. Footer 		 *
 * 4. Pages 			 *
 * 	  a. Landing Page  	 *
 * 	  b. Posts Page 	 *
 * 	  c. Contact Page 	 *
 * 	  d. About Page 	 *
 * 5. Other 			 *
 * 	  a. Progress Bar 	 *	
 * * * * * * * * * * * * */

/* ---------------------- */
/* 		 FONTS            */
/* ---------------------- */
@font-face {
  font-family: "JosefinSlab";
  src: url("../fonts/JosefinSlab-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Light.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "IBMPlexSans-Italic";
  src: url("../fonts/IBMPlexSans-LightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
	font-family: "KlinicSlab";
	src: url("../fonts/KlinicSlabBook.woff2") format("woff2");
}

/* ---------------------- */
/* 		 GLOBALS 		  */
/* ---------------------- */

:root {
    --clr-acc: #276235;
	--clr-acc-sec: #0a73ca; 
    --clr-acc-thr: #F18F01;
	--clr-bg: #f7fafc;
	--clr-black: rgba(0,0,0,.8);
	--clr-gray: #666d77;
	--clr-border: #e2e8f0;


	--border: 2px solid var(--clr-border);

	--ff-prim: "KlinicSlab";
	--ff-sec: "IBMPlexSans";
	--ff-thrd: "JosefinSlab";
	--fs-l: 1.5rem;
	--fs-xl: 2rem;
	--fs-xxl: 3rem;
	--fs-xxxl: 4rem;
	--fs-m: 1.1rem;
	--fs-s: .8rem;

	--page-margin: 1.5rem;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	border-color: var(--clr-border);
}

html {
    min-height: 100%;
}

body {
  flex: 1;
  counter-reset: figure;
  background-color: var(--clr-bg);
  margin: 0 var(--page-margin);
}

.page__title {
	font-family: var(--ff-thrd);
	text-align: center;
	font-size: var(--fs-l);
	letter-spacing: 0.1em;
	position: relative;
}

.page__title::after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: var(--clr-black);
	left: 33%;
	right: 33%;
	bottom: 0;
 }


/* ---------------------- */
/* 		 COMPONENTS 	  */
/* ---------------------- */

 /* HEADER */
.header {
	width: min(100%, 900px);
	margin: 0 auto;
	pointer-events: none;
	position: sticky;
	top: 0;
	z-index: 40;
}

.nav {
	top: 0;
	width: 100%;
	pointer-events: auto;
	background-color: var(--bg-clr);
	font-family: var(--ff-prim);
	font-size: var(--fs-l);
	position: relative;
}

.nav__list {
	display: flex; 
	flex-direction: flex-row; 
	justify-content: space-between;
}

.nav__list::before {
	content: "";
	position: absolute;
	z-index: 10;
	background-color: var(--clr-bg);
	top: 0;
	right: 0;
	left: 0;
	right: 0;
	bottom: 1.5rem;
	z-index: -1;
}


.nav-item__wrapper {
	display: flex;
	justify-content: space-between;
}


.nav__logo {
	width: 6rem;
	box-sizing: box;
	margin: 0 calc(.5rem + 8vw);
}

.nav-item {
	margin: auto 0;
	font-size: larger;
}

.nav-item__wrapper:nth-child(2) {
	order: 1;
	flex: 1;
}


.nav-item__wrapper:nth-child(3) {
	order: 3;
	flex: 1;
}

.nav-item__wrapper:nth-child(1) {
	order: 2;
}

.nav__list::after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: var(--clr-black);
	left: 0;
	right: 0;
	bottom: 1.5rem;
}

.icon-menu {
	position: absolute;
	list-style: none;
	display: flex;
	justify-content: space-between;
	right: 0;
	bottom: -3px;
}

@media (max-width: 600px) {
	.nav-item__wrapper {
		flex-direction: column;
	}

	.nav-item {
		margin: 0;
	}

	.nav-item__wrapper:nth-child(3) > * {
		margin-left: auto;
		text-align: left;

	}

	.nav-item__wrapper:nth-child(2) > * {
		margin-right: auto;
	}

	.nav-item__wrapper:not(.nav-item__wrapper--logo) {
		padding: 1rem 0 2rem 0;
	}

	.nav__logo{
		margin: 0;
	}
}

/* FOOTER */

.footer { 
	width: 100%;
	background-color: var(--clr-black);
	color: var(--clr-bg);
	border-top: 1rem;
	font-family: var(--ff-prim);
	border-top: var(--clr-bg) solid 2px;
}

.footer__quote-wrapper {
	display: flex;
	width: max(50%, 100px);
	margin: 0 auto;
	font-size: smaller;
}

.footer__quote {
	padding: 1rem;
	margin: 0 auto;
	border: var(--clr-bg) solid 2px;
	border-top: 0px;
}

/* SECTION WRAPPER */

.section__wrapper {
	margin: auto;
	width: min(100%, 900px);
	display: flex;
	flex-direction: column;
}

/* ----------------------------- */
/* LANDING PAGE 				 */
/* ----------------------------- */

.landing-page{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "name         name    name         name"
      "about        about   about        about"
      "latest-post  latest-post   latest-post  latest-post"
      "left-cats    left-cats     right-cats    right-cats"
      "arrow        arrow arrow arrow";

	 font-family: var(--ff-thrd);
}

.landing-page__section {
	padding: 1rem;
}

.name {
	margin-top: -1rem;
    grid-area: name;
	border-left: var(--border);
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.name-section__name {
	width: 100%; 
	font-size: calc(var(--fs-xl) + 4vw);
}

.name-section__wrapper {
	width: 100%;
}

.name-section__author {
	color: var(--clr-acc);
	font-size: var(--fs-xl);
	text-decoration: underline;
	text-decoration-color:transparent;
	transition: text-decoration-color 400ms ease-in-out; 
}

.name-section__author:hover, 
.name-section__author:focus{
	text-decoration-color: currentColor;
}

.name-section__image-wrapper {
	margin: 0 auto;
	z-index: -1;
	position: absolute;
	right: 0;
	height: 100%;
	top: 0;
	bottom: 0;
	padding: 1rem;
}

.name-section__image {
	border: var(--border);
	border-radius: 9999px;
	height: 100%;
	align-self: center;
}

.about {
    grid-area: about;
    position: relative;
    hyphens: auto;
	border: var(--border);
	border-left: 0px;
}

.about__description {
	color: var(--clr-black);
}

.latest-post {
    grid-area: latest-post;
    hyphens: auto;
	border-left: var(--border);
}

.latest-post__title {
	font-size: var(--fs-xl);
	text-align: justify;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: text-decoration-color 200ms ease-in-out;
	color: var(--clr-acc);
}

.latest-post__title:hover,
.latest-post__title:focus {
	text-decoration-color: var(--clr-acc);
}

.latest-post__preview {
	font-size: var(--fs-m);
	line-height: var(--fs-xl);
	display: inline;
	color: var(--clr-black);
}

.cats {
	color: var(--clr-black);
	font-size: min(calc(8px + 8vw), 80px);
    padding-right: 0; 
    padding-left: 0;
}

.cats > * {
	position: relative;
}

.left-cats{
    grid-area: left-cats;
	border-right: 1px solid var(--clr-border);
	border-top: var(--border);
}

.left-cats > * {
	float: left;
}


.right-cats{
    grid-area: right-cats;
	border-left: 1px solid var(--clr-border);
}

.right-cats > * {
	float: right;
}

.arrow {
    grid-area: arrow;
    padding-top: 0;
	display: flex;
	justify-content: center;
}

.animated-hover:after{
  content: '';
  height: 3px;
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 0%;
  background: #4a5568;
  transition: 0.2s;
}

.animated-hover:hover:after,
.animated-hover:focus:after {
  width: 100%;
}

.center-hover-underline {
  color: black;
  background-image: linear-gradient(black, black);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.center-hover-underline:hover,
.center-hover-underline:focus {
  background-size: 100% 2px, auto;
}


@media (min-width: 768px) {
  .landing-page{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows   : auto auto auto auto;
    grid-template-areas:
        "name           name          name          name"
        "latest-post    latest-post   latest-post   about"
        "left-cats       left-cats      right-cats     right-cats"
        "arrow          arrow         arrow         arrow";
	 font-family: var(--ff-thrd);
   }

   .name {
	 border-bottom: var(--border);
   }

   .about {
	   border: none;
   }

   .about::after {
     content: '';
     position: absolute;
     top: -2%;
     left: 0%;
     width: 100%;
     height: 104%;
	 border-bottom: 8px solid var(--clr-bg);
	 border-top: 8px solid var(--clr-bg);
  }

  .latest-post {
	  border-left: none;
	  border-right: var(--border); 
  }

  .left-cats {
	  border-top: none;
  }

  .right-cats {
	border-top: var(--border);
  }

  .cats {
	  padding-right: 1rem;
	  padding-left: 1rem;
  }
}

@media (max-width: 450px) {
	.name-section__image {
		visibility: hidden;
	}
}

/* ----------------------------- */
/* Posts Page  					 */
/* ----------------------------- */

.post-link {
	width: 100%;
	color: var(--clr-black);
	font-family: var(--ff-thrd);
	font-size: var(--fs-l);
	text-decoration: underline;
	text-decoration-color: transparent;

	transition: all 200ms ease-in;
	transition-property: 
		text-decoration-color, color;
}


.post-link:hover,
.post-link:focus {
	text-decoration-color: var(--clr-acc);
	color: var(--clr-acc);
}

.post-link::before {
  content:'→';
  position: absolute;
  left: -40px;
  color: var(--clr-acc);
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.post-link:hover::before, .post-link:focus::before {
	opacity: 1;
}

	
.date-indicator {
  position: absolute;
  color: var(--clr-black);
  filter: opacity(.6);
  left: 90%;
  font-size: x-large;
}

.post-wrapper {
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
}

.post-link__details {
	display: flex;
	font-family: var(--ff-sec);
	font-size: var(--fs-s);
	font-weight: light;
}

.post-link-details__divider {
	padding: 0 1rem;
}

@media (max-width: 990px) {
	.post-list__wrapper {
		padding-left: 2.5rem;
	}

	.date-indicator {
		visibility: hidden;
	}

}

/* ----------------------------- */
/* Post Page  					 */
/* ----------------------------- */

.post {
	font-family: var(--ff-sec);
	font-weight: light;
	line-height: 1.625;
	margin-top: 2rem;
}

.post p {
  z-index: 10;
}

.post blockquote {
  position: relative;
  font-size: 14px;
  font-family: "Courier";
  display: block;
  border-left: 5px solid #21610B;
  padding: 1.5em 1.5em 1.5em 3.5em;
  border-right: 2px dashed #21610B;
  margin: 0 0 1.5em;
  background: aliceblue;
  z-index: 10;
}

.post blockquote::before {
  position: absolute;
  font-size: 62px;
  font-family: 'Courier';
  font-weight: bold;
  content: "\"";
  line-height: 1;
  top: 10px;
  left: 2px;
}

.post blockquote cite {
  position: relative;
  left: 5px;
  top: 5px;
  font-size: 12px;
}

.post img {
  width: 100%;
  padding: 5px;
  background: black;
}

.post video {
  width: 100%;
  padding: 5px;
  background: black;
}

/* purgecss start ignore */
img[src*='#float-round'] {
    display: block;
    float: right;
    width: 256px;
    shape-outside: inset(1% round 50%);
    margin: 10px;
	border-radius:9999px;
    border: var(--border);
	padding: 0;
    background: none;
}

img[src*='#center'] {
    display: block;
    margin: auto;
    width: 256px;
}

img[src*='#block'] {
  display: block;
  width: auto;
  background: none;
  padding: none;
  opacity: .4;
}

.photo img {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  padding: 5px;

}

.photo img + em {
  color: var(--clr-gray);
  text-transform: lowercase;
}

.frame-wrap {
  margin: 5px 0 5px 5px;
  border: black 4px solid;
}

.post h2 {
  font-family: var(--ff-prim);
  padding-bottom: 1rem;
  font-size: var(--fs-l);
}

.header-link-padding {
  display: block;
  content: "";
  margin-top: -7rem;
  height: 7rem;
  visibility: hidden;
  pointer-events: none;
}

.post .footnote-ref:before {
    display: block;
    content: "";
    margin-top: -12rem;
    height: 12rem;
    visibility: hidden;
    pointer-events: none;
}

.post .footnote-ref {
  display: inline-block;
}

.post a {
  color: var(--clr-acc-sec);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 400ms ease-in-out;
}

.post a:hover, .post a:focus {
	text-decoration-color: currentColor;
}

.post > p {
	padding-bottom: 1rem;
    z-index: 10;
}

.post ul > li:first-child {
	margin-top: -1rem;
}

.post ul > li:last-child {
	padding-bottom: 1rem;
}

.post-link {
  position: relative;
}

.post h3 {
  font-family: var(--ff-prim);
  font-size: ff(lg);
  padding-bottom: 4;
  z-index: 10;
}

.header-link {
  left: -20px;
}


.transition-linear {
  transition-timing-function: linear;
}

.transition-ease {
  transition: all .2s ease-out;
}

.post video + em, .post img + em {
  font-family: var(--ff-thrd);
  color: var(--clr-gray);
  text-transform: lowercase;
}

.post video + em:before, .post img + em:before {
  counter-increment: figure;
  content: "figure " counter(figure) ". ";
  font-weight: bold;
}

.footnote {
  font-size: var(--fs-s);
}


.poem p {
  text-indent: 1rem;
}

/* ------------------- */
/* CONTACT PAGE        */
/* ------------------- */

.page__wrapper{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 2em;
	align-items: center;
	position: relative;
	font-family: var(--ff-sec);
	font-weight: light;

}

.contact__form {
	width: min(100%, 800px);
}


label {
	font-family: var(--ff-thrd);
	text-transform: lowercase;
	display: flex;
	flex-direction: column;
	margin: 0 1rem 1rem 1rem;
	letter-spacing: 1.4px;
	color: var(--clr-black);
}

input, textarea {
	color: var(--clr-black);
	border: 1.5px solid var(--clr-black); 
	margin-top: .5rem;
	padding: .3rem;
	font-family: var(--ff-thrd);
}

.form__name-wrapper {
	display: flex;
	justify-content: space-between;
}

.form-label__name{
	width: 40%;
}

.contact-page__image-wrapper {
	width: 100%;
	padding-bottom: 3rem;
}

.contact-page__image {
	width: 100%;
	background: transparent; 
}

.form__submit-button {
	color: var(--clr-black);
	background-color: white;
	text-transform: lowercase;
	text-align: center;
	letter-spacing: 1.4px;
	width: 5rem;
	height: 2rem;
	margin: 0 1rem 1rem 1rem;
	font-size: 1rem;
	transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}


.form__submit-button:hover,
.form__submit-button:focus {
	color: white;
	background-color: var(--clr-black);
}

.animated-svg {
	position: absolute;
	height: 1rem;
	animation: float-note 5s ease-in forwards;
	left: calc(50%);
	z-index:-1;
}

@keyframes float-note {
  0%   { opacity: 1; bottom: calc(3rem + 5%); }
  100% { opacity: 0; bottom: 100%; }

}

/* ---------------------- */
/* PROGRESS BAR 		  */
/* ---------------------- */

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: #0F493F;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #0F493F;
}

progress::-moz-progress-bar {
  background-color: #0F493F;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  display: block;
}

.progress-bar {
  background-color: #0F493F;
  width: 0%;
  display: block;
  height: inherit;
}
