/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  position: relative;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * 1. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 2. Change the default font family in all browsers (opinionated)
 */

html {
  box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the system font stack as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 * to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a0aec0;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #a0aec0;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a0aec0;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #a0aec0;
}

input::placeholder,
textarea::placeholder {
  color: #a0aec0;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

.container {
  width: 100%;
}

@media (min-width: 450px) {
  .container {
    max-width: 450px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.focus\:sr-only:focus {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focus\:not-sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* * * * * * * * * * * * *
 * 1. Fonts  			 *
 * 2. Global Styling 	 *
 * 3. Components  		 *
 *    a. Header 		 *
 *    b. Footer 		 *
 * 4. Pages 			 *
 * 	  a. Landing Page  	 *
 * 	  b. Posts Page 	 *
 * 	  c. Contact Page 	 *
 * 	  d. About Page 	 *
 * 	  e. Projects Page
 * 5. Other 			 *
 * 	  a. Progress Bar 	 *	
 * * * * * * * * * * * * */

/* ---------------------- */
/* 		 FONTS            */
/* ---------------------- */
@font-face {
  font-family: "JosefinSlab";
  src: url("../fonts/JosefinSlab-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Light.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "IBMPlexSans-Italic";
  src: url("../fonts/IBMPlexSans-LightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-Light.otf") format("opentype");
  font-weight: 200;
}

@font-face {
	font-family: "KlinicSlab";
	src: url("../fonts/KlinicSlabBook.woff2") format("woff2");
}

/* ---------------------- */
/* 		 GLOBALS 		  */
/* ---------------------- */

:root {
    --clr-acc: #276235;
	--clr-acc-sec: #0a73ca; 
    --clr-acc-thr: #F18F01;
	--clr-bg: #f7fafc;
	--clr-black: rgba(0,0,0,.8);
	--clr-gray: #666d77;
	--clr-border: #e2e8f0;


	--border: 2px solid var(--clr-border);

	--ff-prim: "KlinicSlab";
	--ff-sec: "IBMPlexSans";
	--ff-thrd: "JosefinSlab";
	--fs-l: 1.5rem;
	--fs-xl: 2rem;
	--fs-xxl: 3rem;
	--fs-xxxl: 4rem;
	--fs-m: 1.1rem;
	--fs-s: .8rem;

	--page-margin: 1.5rem;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	border-color: var(--clr-border);
}

html {
    min-height: 100%;
}

body {
  flex: 1;
  counter-reset: figure;
  background-color: var(--clr-bg);
  margin: 0 var(--page-margin);
}

.page__title {
	font-family: var(--ff-thrd);
	text-align: center;
	font-size: var(--fs-l);
	letter-spacing: 0.1em;
	position: relative;
}

.page__title::after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: var(--clr-black);
	left: 33%;
	right: 33%;
	bottom: 0;
 }


/* ---------------------- */
/* 		 COMPONENTS 	  */
/* ---------------------- */

 /* HEADER */
.header {
	width: min(100%, 900px);
	margin: 0 auto;
	pointer-events: none;
	position: sticky;
	top: 0;
	z-index: 40;
}

.nav {
	top: 0;
	width: 100%;
	pointer-events: auto;
	background-color: var(--bg-clr);
	font-family: var(--ff-prim);
	font-size: var(--fs-l);
	position: relative;
}

.nav__list {
	display: flex; 
	flex-direction: flex-row; 
	justify-content: space-between;
}

.nav__list::before {
	content: "";
	position: absolute;
	z-index: 10;
	background-color: var(--clr-bg);
	top: 0;
	right: 0;
	left: 0;
	right: 0;
	bottom: 1.5rem;
	z-index: -1;
}


.nav-item__wrapper {
	display: flex;
	justify-content: space-between;
}


.nav__logo {
	width: 6rem;
	box-sizing: box;
	margin: 0 calc(.5rem + 8vw);
}

.nav-item {
	margin: auto 0;
	font-size: larger;
}

.nav-item__wrapper:nth-child(2) {
	order: 1;
	flex: 1;
}


.nav-item__wrapper:nth-child(3) {
	order: 3;
	flex: 1;
}

.nav-item__wrapper:nth-child(1) {
	order: 2;
}

.nav__list::after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: var(--clr-black);
	left: 0;
	right: 0;
	bottom: 1.5rem;
}

.icon-menu {
	position: absolute;
	list-style: none;
	display: flex;
	justify-content: space-between;
	right: 0;
	bottom: -3px;
}

.icon-menu__icon {
	padding: 0 .25rem;
}

.icon-menu__svg:hover {
	stroke: var(--clr-acc);
}

@media (max-width: 600px) {
	.nav-item__wrapper {
		flex-direction: column;
	}

	.nav-item {
		margin: 0;
	}

	.nav-item__wrapper:nth-child(3) > * {
		margin-left: auto;
		text-align: left;

	}

	.nav-item__wrapper:nth-child(2) > * {
		margin-right: auto;
	}

	.nav-item__wrapper:not(.nav-item__wrapper--logo) {
		padding: 1rem 0 2rem 0;
	}

	.nav__logo{
		margin: 0;
	}
}

/* FOOTER */

.footer { 
	width: 100%;
	background-color: var(--clr-black);
	color: var(--clr-bg);
	border-top: 1rem;
	font-family: var(--ff-prim);
	border-top: var(--clr-bg) solid 2px;
}

.footer__quote-wrapper {
	display: flex;
	width: max(50%, 100px);
	margin: 0 auto;
	font-size: smaller;
	padding-bottom: 1rem;
}

.footer__quote {
	padding: 1rem;
	margin: 0 auto;
	border: var(--clr-bg) solid 2px;
	border-top: 0px;
}

.footer__credits {
	text-align: center;
	padding-bottom: .5rem;
}

/* SECTION WRAPPER */

.section__wrapper {
	margin: auto;
	width: min(100%, 900px);
	display: flex;
	flex-direction: column;
}

/* ----------------------------- */
/* LANDING PAGE 				 */
/* ----------------------------- */

.landing-page{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "name         name    name         name"
      "about        about   about        about"
      "latest-post  latest-post   latest-post  latest-post"
      "left-cats    left-cats     right-cats    right-cats"
      "arrow        arrow arrow arrow";

	 font-family: var(--ff-thrd);
}

.landing-page__section {
	padding: 1rem;
}

.name {
	margin-top: -1rem;
    grid-area: name;
	border-left: var(--border);
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.name-section__name {
	width: 100%; 
	font-size: calc(var(--fs-xl) + 4vw);
}

.name-section__wrapper {
	width: 100%;
}

.name-section__author {
	color: var(--clr-acc);
	font-size: var(--fs-xl);
	text-decoration: underline;
	text-decoration-color:transparent;
	transition: text-decoration-color 400ms ease-in-out; 
}

.name-section__author:hover, 
.name-section__author:focus{
	text-decoration-color: currentColor;
}

.name-section__image-wrapper {
	margin: 0 auto;
	z-index: -1;
	position: absolute;
	left: calc(100% - 14rem);
	height: 100%;
	top: 0;
	bottom: 0;
	padding: 1rem;
}

.name-section__image {
	border: var(--border);
	border-radius: 9999px;
	height: 100%;
	align-self: center;
}

.about {
    grid-area: about;
    position: relative;
    hyphens: auto;
	border: var(--border);
	border-left: 0px;
}

.about__description {
	color: var(--clr-black);
}

.latest-post {
    grid-area: latest-post;
    hyphens: auto;
	border-left: var(--border);
}

.latest-post__title {
	font-size: var(--fs-xl);
	text-align: justify;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: text-decoration-color 200ms ease-in-out;
	color: var(--clr-acc);
}

.latest-post__title:hover,
.latest-post__title:focus {
	text-decoration-color: var(--clr-acc);
}

.latest-post__preview {
	font-size: var(--fs-m);
	line-height: var(--fs-xl);
	display: inline;
	color: var(--clr-black);
}

.cats {
	color: var(--clr-black);
	font-size: min(calc(8px + 8vw), 80px);
    padding-right: 0; 
    padding-left: 0;
}

.cats > * {
	position: relative;
}

.left-cats{
    grid-area: left-cats;
	border-right: 1px solid var(--clr-border);
	border-top: var(--border);
}

.left-cats > * {
	float: left;
}


.right-cats{
    grid-area: right-cats;
	border-left: 1px solid var(--clr-border);
}

.right-cats > * {
	float: right;
}

.arrow {
    grid-area: arrow;
    padding-top: 0;
	display: flex;
	justify-content: center;
}

.animated-hover:after{
  content: '';
  height: 3px;
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 0%;
  background: #4a5568;
  transition: 0.2s;
}

.animated-hover:hover:after,
.animated-hover:focus:after {
  width: 100%;
}

.center-hover-underline {
  color: black;
  background-image: linear-gradient(black, black);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.center-hover-underline:hover,
.center-hover-underline:focus {
  background-size: 100% 2px, auto;
}


@media (min-width: 768px) {
  .landing-page{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows   : auto auto auto auto;
    grid-template-areas:
        "name           name          name          name"
        "latest-post    latest-post   latest-post   about"
        "left-cats       left-cats      right-cats     right-cats"
        "arrow          arrow         arrow         arrow";
	 font-family: var(--ff-thrd);
   }

   .name {
	 border-bottom: var(--border);
   }

   .about {
	   border: none;
   }

   .about::after {
     content: '';
     position: absolute;
     top: -2%;
     left: 0%;
     width: 100%;
     height: 104%;
	 border-bottom: 8px solid var(--clr-bg);
	 border-top: 8px solid var(--clr-bg);
  }

  .latest-post {
	  border-left: none;
	  border-right: var(--border); 
  }

  .left-cats {
	  border-top: none;
  }

  .right-cats {
	border-top: var(--border);
  }

  .cats {
	  padding-right: 1rem;
	  padding-left: 1rem;
  }
}

@media (max-width: 450px) {
	.name-section__image {
		visibility: hidden;
	}
}

/* ----------------------------- */
/* Posts Page  					 */
/* ----------------------------- */

.post-link {
	width: 100%;
	color: var(--clr-black);
	font-family: var(--ff-thrd);
	font-size: var(--fs-l);
	text-decoration: underline;
	text-decoration-color: transparent;

	transition: all 200ms ease-in;
	transition-property: 
		text-decoration-color, color;
}


.post-link:hover,
.post-link:focus {
	text-decoration-color: var(--clr-acc);
	color: var(--clr-acc);
}

.post-link::before {
  content:'→';
  position: absolute;
  left: -40px;
  color: var(--clr-acc);
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.post-link:hover::before, .post-link:focus::before {
	opacity: 1;
}

	
.date-indicator {
  position: absolute;
  color: var(--clr-black);
  filter: opacity(.6);
  left: 90%;
  font-size: x-large;
}

.post-wrapper {
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
}

.post-link__details {
	display: flex;
	font-family: var(--ff-sec);
	font-size: var(--fs-s);
	font-weight: light;
}

.post-link-details__divider {
	padding: 0 1rem;
}

@media (max-width: 990px) {
	.post-list__wrapper {
		padding-left: 2.5rem;
	}

	.date-indicator {
		visibility: hidden;
	}

}

/* ----------------------------- */
/* Post Page  					 */
/* ----------------------------- */


.post__title {
	font-family: var(--ff-thrd);
	text-align: center;
	font-size: var(--fs-l);
	font-weight: bolder;
	letter-spacing: 0.1em;
	position: relative;
}

.title__wrapper {
	margin: 3rem .5rem 1rem;
	position: relative;
}

.post__details {
	display: flex;
	font-family: var(--ff-sec);
	padding: 1rem 0;
	justify-content: center;
	font-style: italic;
}

.post-details__detail {
	color: var(--clr-black);
}

.post-details__divider {
	color: var(--clr-acc-thr);
	padding: 0 1rem;
}

.title__wrapper::after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: var(--clr-black);
	left: 33%;
	right: 33%;
	bottom: 0;
 }

/*! purgecss start ignore */
.post {
	font-family: var(--ff-sec);
	font-weight: light;
	line-height: 1.625;
	margin-top: 2rem;
}

.filmgraph:not(:root) {
    width:100%;
    height: auto;
	position: relative;
}

.post p {
  z-index: 10;
}

.post blockquote {
  position: relative;
  font-size: 14px;
  font-family: "Courier";
  display: block;
  border-left: 5px solid #21610B;
  padding: 1.5em 1.5em 1.5em 3.5em;
  border-right: 2px dashed #21610B;
  margin: 0 0 1.5em;
  background: aliceblue;
  z-index: 10;
}

.post blockquote::before {
  position: absolute;
  font-size: 62px;
  font-family: 'Courier';
  font-weight: bold;
  content: "\"";
  line-height: 1;
  top: 10px;
  left: 2px;
}

.post blockquote cite {
  position: relative;
  left: 5px;
  top: 5px;
  font-size: 12px;
}

.post img {
  width: 100%;
  padding: 5px;
  background: black;
}

.post video {
  width: 100%;
  padding: 5px;
  background: black;
}

img[src*='#float-round'] {
    display: block;
    float: right;
    width: 256px;
    shape-outside: inset(1% round 50%);
    margin: 10px;
	border-radius:9999px;
    border: var(--border);
	padding: 0;
    background: none;
}

img[src*='#center'] {
    display: block;
    margin: auto;
    width: 256px;
}

img[src*='#block'] {
  display: block;
  width: auto;
  background: none;
  padding: none;
  opacity: .4;
}

.photo img {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  padding: 5px;

}

.photo img + em {
  color: var(--clr-gray);
  text-transform: lowercase;
}

.frame-wrap {
  margin: 5px 0 5px 5px;
  border: black 4px solid;
}

.post h2 {
  font-family: var(--ff-prim);
  padding-bottom: 1rem;
  font-size: var(--fs-l);
}

.post ul {
	text-indent: 1.2rem;
    list-style: disc;
}

.post .footnote-ref:before {
    display: block;
    content: "";
    margin-top: -12rem;
    height: 12rem;
    visibility: hidden;
    pointer-events: none;
}

.post .footnote-ref {
  display: inline-block;
}

.post a {
  color: var(--clr-acc-sec);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 400ms ease-in-out;
}

.post a:hover, .post a:focus {
	text-decoration-color: currentColor;
}

.post > p {
	padding-bottom: 1rem;
    z-index: 10;
}

.post ul > li:first-child {
	margin-top: -1rem;
}

.post ul > li:last-child {
	padding-bottom: 1rem;
}

.post-link {
  position: relative;
}

.post h3 {
  font-family: var(--ff-prim);
  font-size: ff(lg);
  padding-bottom: 4;
  z-index: 10;
}


.post-header__padding {
  display: block;
  content: "";
  margin-top: -7rem;
  height: 7rem;
  visibility: hidden;
  pointer-events: none;
}

.post__header {
	position: relative;
}

.header-link {
  left: -20px;
  position: absolute;
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.post__header:hover > .header-link {
	opacity: 1;
}


.post video + em, .post img + em {
  font-family: var(--ff-thrd);
  color: var(--clr-gray);
  text-transform: lowercase;
}

.post video + em:before, .post img + em:before {
  counter-increment: figure;
  content: "figure " counter(figure) ". ";
  font-weight: bold;
}
/*! purgecss end ignore */

.footnote {
  font-size: var(--fs-s);
}


.poem p {
  text-indent: 1rem;
}

.epigraph{
	margin-left:3em;
	margin-right:3em;
	margin-bottom:2em;
	font-style:italic
}

.epigraph cite{
	position:relative;
	left:2rem;
	top:5px;
	font-size:12px;
	font-style:normal
}

.connector::after {
	content: "";
	position: absolute;
	border-left: 2px solid rgb(0,0,0,.1);
	border-bottom: 2px solid rgb(0,0,0,.1);
	bottom: 0;
	left: 0;
	width: 15px;
	height: 15px;
	transform-origin: bottom left;
	transform: rotate(-45deg) translate(-.5px, 2px)
}

/* ------------------- */
/* CONTACT PAGE        */
/* ------------------- */

.page__wrapper{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 2em;
	align-items: center;
	position: relative;
	font-family: var(--ff-sec);
	font-weight: light;

}

.contact__form {
	width: min(100%, 800px);
}


label {
	font-family: var(--ff-thrd);
	text-transform: lowercase;
	display: flex;
	flex-direction: column;
	margin: 0 1rem 1rem 1rem;
	letter-spacing: 1.4px;
	color: var(--clr-black);
}

input, textarea {
	color: var(--clr-black);
	border: 1.5px solid var(--clr-black); 
	margin-top: .5rem;
	padding: .3rem;
	font-family: var(--ff-thrd);
}

.form__name-wrapper {
	display: flex;
	justify-content: space-between;
}

.form-label__name{
	width: 40%;
}

.contact-page__image-wrapper {
	width: 100%;
	padding-bottom: 3rem;
}

.contact-page__image {
	width: 100%;
	background: transparent; 
}

.form__submit-button {
	color: var(--clr-black);
	background-color: white;
	text-transform: lowercase;
	text-align: center;
	letter-spacing: 1.4px;
	width: 5rem;
	height: 2rem;
	margin: 0 1rem 1rem 1rem;
	font-size: 1rem;
	transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}


.form__submit-button:hover,
.form__submit-button:focus {
	color: white;
	background-color: var(--clr-black);
}

.animated-svg {
	position: absolute;
	height: 1rem;
	animation: float-note 5s ease-in forwards;
	left: calc(50%);
	z-index:-1;
}

@keyframes float-note {
  0%   { opacity: 1; bottom: calc(3rem + 5%); }
  100% { opacity: 0; bottom: 100%; }
}


/* ---------------------- */
/* PROJECTS PAGE 		  */
/* ---------------------- */

.category__header {
	font-family: var(--ff-thrd);
	font-weight: semibold;
	font-size: var(--fs-l);
	text-align: center;
	margin-bottom: 1rem;
}

.category__subheader {
	font-family: var(--ff-sec);
	width: min(500px, 100%);
	text-decoration: underline;
	margin: 0 auto;
	font-style: italic;
	filter: opacity(.6);
	padding-bottom: .5rem;
}

.category__list {
	margin: 0 auto 2rem auto;
	width: min(500px, 100%);
	list-style: disc;
	text-indent: 1rem;
}

.category-divider {
	margin-bottom: 2rem;
}

.category__item {
	width: 100%;
	font-family: var(--ff-sec);
	color: var(--clr-acc-sec);
	text-decoration: underline;
	text-decoration-color:transparent;
	transition: text-decoration-color 200ms ease-in; 
}

.category__item:hover, .category__item:focus {
	text-decoration-color: var(--clr-acc-sec);
}

.category-item__date {
	filter: opacity(.5);
}

/* ---------------------- */
/* JUPYTER NOTEBOOK 	  */
/* ---------------------- */

.embeded-notebook {
	padding-bottom: 3rem;
}

/* ---------------------- */
/* PROGRESS BAR 		  */
/* ---------------------- */

progress {
  /* Positioning */
  z-index: 50;
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: var(--clr-acc);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: var(--clr-acc);
}

progress::-moz-progress-bar {
  background-color: var(--clr-acc);
}
