/* GLOBAL SETTINGS*/

* {
	margin: 0;
	color: black;
	text-decoration: none;
}

html {
    min-height: 100%;
    display: flex;
	font-family: "Lato"
}

body {
  flex: 1;
  counter-reset: figure;
  background: #f7fafc;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

ul {
 list-style: disc;
 margin: 0;
 list-style-position: outside;
 padding-left: 1.2rem;
}

h1, h2, h3{
	font-family: "Fira Sans";
	font-weight: 100;
}

h1 {
	font-size: min(calc(7.3vw + .6rem), 100px);
}

h2 {
	border-bottom: #cbd5e0 solid 2px;
	margin-bottom: 1rem;
	letter-spacing: 3px;
}

h3 {
	margin-bottom: .25rem;
	font-weight: 300;
	color: #4a5568;
}

/* INSTANTIATE GRID */

.resume {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows   : auto auto auto auto auto;
  grid-template-areas:
	  "name           name       accounts"
	  "work           work       about"
	  "work           work       education"
	  "projects       projects   projects"
	  "skills         skills     skills";
  grid-gap: 5px;
  width: min(1200px, 100%);
  margin: 0 auto;

}

.grid-area {
	padding: 1rem;
}

.accounts {
  grid-area: accounts;
  padding-top: 0;
  padding-bottom: 0;
  margin: auto 0 auto;
}

.name {
    grid-area: name;
}

.about {
    grid-area: about;
}


.references {
    grid-area: references;
}

.work {
    grid-area: work;
}

.skills {
    grid-area: skills;
}

.education {
    grid-area: education;
}

.projects {
    grid-area: projects;
}

/* contacts */

.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-right: 1rem;
}

.contact__label {
	color: darkred;
}

.email-image {
	margin-bottom: -6px;
	height: 1.6rem;
	opacity: 1;
	transition: opacity 200ms ease-out;
}

.site-link__wrapper {
	margin-top:  4px;
}

.site-link {
	opacity: 1;
	transition: opacity 200ms ease-out;
}

.email-image:hover, .site-link:hover{
	opacity: .6
}


/* icons */

.icons {
	display: flex;
	flex-direction: column;
	vertical-align: center;
}

.icon {
	padding-right: .5rem;
}

.icon__link {
	display: flex;
	align-items: center;
	margin: .5rem;
}

/* jobs */

.jobs, .projects {
	display: flex;
	flex-direction: column;
}

.job, .project {
	display: flex;
	flex-direction: row;
	padding-bottom: 1rem;
}

.job-date, .project-date{
	font-style: italic;
	font-size: small;
	margin-left: auto;
}

.project-focus {
	font-style: italic;
	font-size: small;
	margin-left: auto;
	font-family: "IBMPlexMono";
	padding-right: 5px;
}

.project-link-wrapper {
	display: inline;
}

.project-icon {
	padding: 3px;
	font-size:12px !important;
	color: darkred;
}

.preview-icon {
	padding: 0 10px;
	color: darkred;
}

.fa {
	opacity: 1;
	transition: opacity 200ms ease-out;
}

.fa:hover {
	opacity: .6;
}

/* skills */

.skills-wrapper {
	display: flex;
}

.skills-list__coding {
	column-count: 2;
	list-style: disc;
}

.coding-skills {
	width: 66%;
	margin-bottom: 1rem;
}

.coding-skill {
	display: flex;
}

.skill-score {
	width: 50%;
	margin-left: auto;
}

/* media use */

@media (min-width: 650px) and (max-width: 750px) {
  h1 {
    font-size: calc(6.6vw + .5rem)
  }

  .resume {
      display:grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 5px;
      grid-template-areas:
        "name accounts"
        "about about"
        "education education"
        "work work"
        "projects projects"
        "skills skills";
  }
  .accounts {
    grid-area: accounts;
	padding-left: 1rem;
	padding-right: 1rem;
  }
  .container {
    max-width: 640px;
  }

  .skills-list__coding {
	column-count: 1;
  }


	.coding-skills {
		width: 50%;
	}
}

@media (max-width: 650px) {
  h1 {
    font-size: 12vw;
	text-align: center;
  }


    .icons {
	  flex-direction: row;
	  justify-content: space-around;
    }
	.resume {
		display:grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: 5px;
		grid-template-areas:
		  "name name"
		  "accounts accounts"
		  "about about"
		  "education education"
		  "work work"
		  "projects projects"
		  "skills skills";
	}

    .skills-list__coding {
      column-count: 1;
    }

	.skills-wrapper {
		flex-direction: column;
	}

	.coding-skills {
		width: 100%;
	}
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
