/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */

@tailwind utilities;

html {
    min-height: 100%;
    display: flex;
}

body {
    flex: 1;
}

#dice {
  font-size: 30px;
  font-weight: 100;
  width: 30px;
}

#dice::after {
  content:'\2684';
  animation: rolling 4s linear infinite;
  animation-play-state: paused
}

#dice:hover:after {
  animation-play-state: running;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url(../fonts/KlinicSlabBook.otf);
}

@font-face {
  font-family: 'Josefin Slab';
  src: url(../fonts/JosefinSlab-Regular.ttf);
}

@keyframes rolling {
  0% {content:'\2684';}
  20% {content:'\2683';}
  40% {content:'\2682';}
  60% {content:'\2685';}
  80% {content:'\2681';}
  100% {content:'\2680';}
}

/*! purgecss start ignore */
.post-link:hover::before {
  content:'→';
  position: absolute;
  left: -40px;
}

.post blockquote {
  position: relative;
  font-size: 14px;
  font-family: Courier;
  font-style: italic;
  display: block;
  border-left: 5px solid #21610B;
  padding: 1.5em 1.5em 1.5em 3.5em;
  border-right: 2px dashed #21610B;
  margin: 0 0 1.5em;
  background: aliceblue;
}

.post blockquote::before {
  position: absolute;
  font-size: 62px;
  font-family: 'Courier';
  font-weight: bold;
  content: "\"";
  line-height: 1;
  top: 10px;
  left: 2px;
}

.post blockquote cite {
  position: relative;
  left: 5px;
  top: 5px;
  font-size: 12px;
}

.post img {
  @apply w-full;
  margin-bottom: 1rem;
  padding: 5px;
  background: black;
}

/* purgecss start ignore */
img[src*='#center'] {
    display: block;
    margin: auto;
    width: 256px;
}
/* purgecss end ignore */

.frame-wrap {
  margin: 5px 0 5px 5px;
  border: black 4px solid;
}

.post h2 {
  @apply font-postheader pb-4 text-2xl;
}

.post a {
  @apply text-blue;
}

.post a:hover {
  @apply underline;
}

.post > p {
  @apply pb-4
}

.post-link {
  position: relative;
}

.post h3 {
  @apply font-postheader pb-4 text-xl;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: #0F493F;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #0F493F;
}

progress::-moz-progress-bar {
  background-color: #0F493F;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  display: block;
}

.progress-bar {
  background-color: #0F493F;
  width: 0%;
  display: block;
  height: inherit;
}

.date-indicator {
  left: 90%;
  font-size: x-large;
}

figure {
  width: 100%%;
  margin: 0;
  position: relative;
  cursor: pointer;
}
figure:before,
figure:after {
  position: absolute;
}
figure:before {
  top: 103.5px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  background-color: rgba(204, 209, 217, 0.3);
  font-family: 'Ionicons';
  content: '\f215';
  text-align: center;
  line-height: 45px;
  font-size: 19px;
  color: #F5F7FA;
}
figure:after {
  content: 'gif';
  position: absolute;
  display: inline-block;
  width: 40px;
  text-align: center;
  top: 20px;
  right: 20px;
  font-size: 11px;
  font-weight: 600;
  padding: 5px;
  border-radius: 3px;
  color: #656D78;
  background-color: rgba(170, 178, 189, 0.1);
  text-transform: uppercase;
}
figure.play:before {
  display: none;
}
figure.play:after {
  color: #fff;
  background-color: #8CC152;
}
figcaption {
  padding-top: 15px;
  font-size: 14px;
  color: #8d9bad;
}
figcaption a {
  color: #59687b;
  text-decoration: none;
}
/*! purgecss end ignore */
