/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */

@tailwind utilities;

html {
    min-height: 100%;
    display: flex;
}

body {
    flex: 1;
}

#dice {
  font-size: 30px;
  font-weight: 100;
  width: 30px;
}

#dice::after {
  content:'\2680';
  animation: rolling 4s linear infinite;
  animation-play-state: paused
}

#dice:hover:after {
  animation-play-state: running;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url(../fonts/KlinicSlabBook.otf);
}

@keyframes rolling {
  0% {content:'\2680';}
  20% {content:'\2683';}
  40% {content:'\2682';}
  60% {content:'\2685';}
  80% {content:'\2684';}
  100% {content:'\2683';}
}

/*! purgecss start ignore */
.post-link:hover::before {
  content:'→';
  position: absolute;
  left: -40px;
}

.post blockquote {
  position: relative;
  font-size: 12px;
  font-style: italic;
  display: block;
  border-left: 5px solid #21610B;
  padding: 1.5em 1.5em 1.5em 3.5em;
  border-right: 2px dashed #21610B;
  margin: 0 0 1.5em;
  background: aliceblue;
}

blockquote::before {
  position: absolute;
  font-size: 62px;
  font-family: 'Courier';
  font-weight: bold;
  content: "\"";
  line-height: 1;
  top: 10px;
  left: 2px;
}

.post img {
  @apply w-full;
  margin-bottom: 1rem;
  padding: 5px;
  background: black;
}

/* purgecss start ignore */
img[src*='#center'] {
    display: block;
    margin: auto;
    width: 256px;
}
/* purgecss end ignore */

.frame-wrap {
  margin-bottom: 1rem;
  padding: 5px;
  background: black;
}

.post h2 {
  @apply font-postheader pb-4 text-2xl;
}

.post a {
  @apply text-blue;
}

.post a:hover {
  @apply underline;
}

.post > p {
  @apply pb-4
}

.post-link {
  position: relative;
}

.post h3 {
  @apply font-postheader pb-4 text-xl;
}
/*! purgecss end ignore */
