@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    min-height: 100%;
    display: flex;
}

body {
    flex: 1;
}

.post-link {
  position: relative;
}

.post-link:hover::before {
  content:'→';
  position: absolute;
  left: -40px;
}

.post blockquote {
  @apply p-4 bg-green text-white border-l-4 border-gray-500;
}

.post img {
  margin-bottom: 1rem;
}

.post h2 {

}

.post h3 {

}
