{% extends 'base.html' %}
{% set active_page = "about" %}

{% block content %}
<div class="px-6 font-light leading-normal md:px-0 lg:px-0 xl:px-0">
  <h1 class="font-posttitle text-2xl text-center"> ABOUT ME </h1>
  <hr class="mx-auto w-1/3 border-black border-1 mb-4"/>
  <div class="px-12 md:px-0 lg:px-0 xl:px-0">
    <div class="flex">
      <div class="flex-1">
        <p>hello my name is samuel mignot.</p>
      </div>
      <div class="w-64">
        <img alt="image of the author as a young man" src="../../static/img/me.jpg" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
