<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{% block title %}{% endblock %} dogsbody - art review by samuel mignot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="N_GN51Lir80qg6_NP4KnuDB3dpixP5BR-IP2wgSsh78" />
  <meta name="description" content="{% block description %}{% endblock %}">
</head>
<body class="bg-gray-100">

  <progress class="z-50" value="0">
    <div class="progress-container">
      <span class="progress-bar"></span>
    </div>
  </progress>
  <header class="w-full mx-auto md:w-190 pointer-events-none header sticky top-0 z-40">
    <!-- navbar -->
    <nav class="top-0 font-semibold w-full ml-auto">
      <div class="pointer-events-auto bg-gray-100 sm:bg-transparent flex-col font-header flex sm:flex-row">
        <div class="w-20 h-16 flex mx-auto bg-gray-100 sm:order-none sm:w-32 sm:h-24">
          <a href="/posts">
            <img class="w-full" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Dogsbody logo" />
          </a>
        </div>

        <div class="md:pr-6 sm:pr-2 bg-gray-100 nav-content hidden pb-4 sm:pt-2 md:pt-10 sm:pl-6 justify-between sm:order-first sm:flex flex-col flex-1 sm:mx-0 md:flex-row md:pl-0">
          <a class="text-xl sm:text-2xl hover:underline hover:text-green {{ ' active' if active_page == 'blog' else '' }}" href="/posts">BLOG</a>
          <div class="hidden md:block px-1 text-2xl">·</div>
          <a class="sm:mx-0 text-xl sm:text-2xl hover:underline hover:text-green {{ 'active' if active_page == 'backblog' else '' }}" href="/backblog">BACKBLOG</a>
        </div>

        <div class="md:pl-6 sm:pl-2 bg-gray-100 nav-content hidden pb-4 sm:pt-2 md:pt-10 sm:mx-0 sm:pr-6 sm:flex flex-col flex-1 justify-between md:flex-row md:pr-0">
            <a class="text-right text-xl sm:text-2xl hover:underline hover:text-green {{ 'active' if active_page == 'about' else '' }}" href="/about">ABOUT</a>
            <div class="hidden md:block px-1 text-2xl">·</div>
            <a class="text-right text-xl sm:text-2xl hover:underline hover:text-green" href="/subscribe">SUBSCRIBE</a>
        </div>
    </div>
    <hr class="z-50 mx-6 border-black mb-2 border-2 md:mx-0"/>
    <div class="pl-6 flex pr-6 md:pr-0">
      <div class="padding-div flex-1"></div>
      <a class="pointer-events-auto flex-0 px-1" href="">
        <div id="dice" class="-mt-3 -mr-3 hover:text-green"></div>
      </a>
      <div class="px-1">/</div>
      <a target="_blank" rel="noopener" class="pointer-events-auto flex-0 px-1" href="https://github.com/sjmignot">
        <svg class="w-full text-green hover:stroke-current" role="img" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <title>Github icon</title>
          <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"/>
        </svg>
      </a>
      <a target="_blank" rel="noopener" class="pointer-events-auto flex-0 px-1" href="https://www.linkedin.com/in/samuel-mignot-43498199">
        <svg class="w-full text-green hover:stroke-current" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
          <rect x="2" y="9" width="4" height="12"/>
          <circle cx="4" cy="4" r="2"/>
        </svg>
      </a>
    </div>
    </nav>
  </header>
  <div class="m-auto w-full md:w-190 flex flex-col h-full">
    <!-- content -->
    <section class="z-0 content flex-1">
      {% block content %}{% endblock %}
    </section>
  </div>
  <footer class="w-full bg-gray-900 text-white border-t-1 border-green pin-b">
    <p class="py-4 text-center">dogsbody · a samuel mignot production · blogging for bipeds</p>
  </footer>
  {% block scripts %}{% endblock %}
  <script>
    var post_names = {{ post_names|safe }}
    var post_name = post_names[Math.floor(Math.random()*post_names.length)];
    window.onload = function() {
      document.getElementById("dice").parentElement.href=`/post/${post_name}`;
    }
  </script>
 </body>
</html>
