<head>
  <title>{% block title %}{% endblock %} dogsbody </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/output.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="bg-gray-100">
  <div class="m-auto w-8/12 min-h-full">
    <header class="header">
      <!-- navbar -->
      <nav class="top-0 w-full ml-auto pb-4 pt-4 bg-gray-100">
        <ul class="font-header flex flex-row">
          <li class="mx-6 my-auto">
            <a class="text-black text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl hover:text-green font-bold" href="#">BLOG</a>
          </li>
          <li class="mx-6 my-auto">
            <a class="text-black text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl hover:text-green font-bold" href="#">BACKBLOG</a>
          </li>
          <li class="mx-6 my-auto">
            <img class="w-full" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Dogsbody logo" />
          </li>
          <li class="mx-6 my-auto">
            <a class="text-black text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl hover:text-green font-bold" href="#">ABOUT</a>
          </li>
          <li class="mx-6 my-auto">
            <a class="text-black text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl hover:text-green font-bold" href="#">SUBSCRIBE</a>
          </li>
      </ul>
      <hr class="border-black border-1 mb-4"/>
      </nav>
    </header>

    <!-- content -->
    <section class="content">
      {% block content %}{% endblock %}
    </section>
  </div>
</body>
