<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{% block title %}{% endblock %} dogsbody </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-gray-100">
  <div class="m-auto w-full md:w-190 lg:w-190 xl:w-190">
    <header class="header">
      <!-- navbar -->
      <nav class="top-0 w-full ml-auto pb-4 pt-4 bg-gray-100">
        <div class="font-header flex flex-row">
          <div class="pl-6 justify-between flex flex-col flex-1 my-auto md:flex-row lg:flex-row xl:flex-row md:pl-0 lg:pl-0 xl:pl-0">
            <a class="text-2xl hover:underline hover:text-green {{ ' active' if active_page == 'blog' else '' }}" href="/posts">BLOG</a>
            <div class="hidden md:block px-1 text-2xl">·</div>
            <a class="text-2xl hover:underline hover:text-green {{ 'active' if active_page == 'backblog' else '' }}" href="#">BACKBLOG</a>
          </div>
          <div class="flex-none inline w-32 mx-2 my-auto md:mx-6 lg:mx-6 xl:mx-6">
            <a href="/posts">
              <img class="w-full" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Dogsbody logo" />
            </a>
          </div>

          <div class="pr-6 flex flex-col flex-1 my-auto justify-between md:flex-row lg:flex-row xl:flex-row md:pr-0 lg:pr-0 xl:pr-0">
              <a class="text-right text-2xl hover:underline hover:text-green {{ 'active' if active_page == 'about' else '' }}" href="/about">ABOUT</a>

              <div class="hidden md:block px-1 text-2xl">·</div>
              <a class="text-right text-2xl hover:underline hover:text-green" href="#">SUBSCRIBE</a>
          </div>
      </div>
      <hr class="mx-6 border-black border-2 -mt-10 mb-6 md:mx-0"/>
      <div class="flex ml-auto justify-end -mt-4 pr-6 md:pr-0">
        <a class="flex-0 px-1" href="">
          <div id="dice" class="-mt-3 -mr-3"></div>
        </a>
        <div class="px-1">/</div>
        <a target="_blank" rel="noopener" class="flex-0 px-1" href="https://github.com/sjmignot">
          <img class="w-full" src="{{ url_for('static', filename='img/account-icons/github.svg') }}" alt="Github Icon"/>
        </a>
        <a target="_blank" rel="noopener" class="flex-0 px-1" href="https://www.linkedin.com/in/samuel-mignot-43498199">
          <img class="w-full" src="{{ url_for('static', filename='img/account-icons/linkedin.svg') }}" alt="LinkedIn Icon"/>
        </a>
      </div>
      </nav>
    </header>

    <!-- content -->
    <section class="content">
      {% block content %}{% endblock %}
    </section>
  </div>
  <footer>
  </footer>
</body>
<script>
  var post_names = {{ post_names|safe }}
  var post_name = post_names[Math.floor(Math.random()*post_names.length)];
  window.onload = function() {
    document.getElementById("dice").parentElement.href=`/post/${post_name}`;
  }
</script>
</html>
