{% extends 'base.html' %}
{% set active_page = "contact" %}

{% block content %}
  <h1 class="page__title"> CONTACT </h1>
  <div class="page__wrapper">
      <form
		  class="contact__form"
		  action="https://formspree.io/mrgyagyo"
		  method="POST"
		>
		  <div class="form__name-wrapper">
			  <label class="form-label__name form-label__name--first"> FIRST NAME <input class="form-input__name form-input__name--last " type="text" name="first-name" onkeypress="birdSings()">
			  </label>

			  <label class="form-label__name form-label__name--last"> LAST NAME <input class="form-input__name form-input__name--last" type="text" name="last-name" onkeypress="birdSings()">
			  </label>
		  </div>
		  <label class="form-label__email"> EMAIL <input class="form-input__email" type="email" name="_replyto" required onkeypress="birdSings()">
		  </label>
		  <label class="form-label__message"> MESSAGE <textarea class="form-input__message" rows="8" name="message" required minlength="40" onkeypress="birdSings()"></textarea>
		  </label>
		  <input type="text" name="_gotcha" style="display:none" />
		  <input class="form__submit-button"type="submit" value="submit" onkeypress="birdSings()"/>
		</form>
		<div class="contact-page__image-wrapper">
			<img class="contact-page__image" src="{{url_for('static', filename='img/birb.svg')}}"></img>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/birdSong.js') }}"></script>
{% endblock %}
