{% extends 'base.html' %}

{% block description %} Samuel Mignot's Personal Site {% endblock %}
{% block content %}
  <article class="landing-page">
      <section class="grid-area name border-l-2 border-b-2">
        <h1 class="font-header text-4xl">DOGSBODY. <a href="/about">samuel mignot</a></h1>
        <p class="font-post"> an art review & personal website</p>
      </section>
      <section class="grid-area picture">
        <img class="rounded-full" alt="Picture of the young man as a young man" src="../../static/img/me.jpg#center">
      </section>
      <section class="grid-area about">
        <p class="font-posttitle">Coder, writer, and artist with experience in technical writing, data analysis, webscraping, machine learnning, and webdesign. Curious, driven, and constantly inspired to learn and create.</p>
      </section>
      <section class="grid-area latest-post border-r-2">
        <h2 class="text-3xl font-posttitle text-justify">{{latest_post.title}}... <p class="text-lg inline">{{latest_post.description}}</p></h2>
      </section>
      <section class="grid-area left-cats">
          <hr>
          <hr>
      </section>
      <section class="grid-area right-cats">
          <hr>
          <hr>
      </section>
      <section class="grid-area arrow">
          <hr>
          <hr>
      </section>
  </article>
{% endblock %}
