{% extends 'base.html' %}

{% set active_page = "landing" %}
{% block description %} Samuel Mignot's Personal Site {% endblock %}
{% block content %}
  <article class="landing-page px-6 md:px-0">
      <section class="font-posttitle grid-area name border-l-2 md:border-b-2">
        <h1 class="text-5xl sm:text-7xl">DOGSBODY. </h1>
        <a class="text-4xl sm:text-6xl text-blue-500 hover:underline" href="/about">samuel mignot</a>
      </section>
      <section class="flex py-auto grid-area picture">
        <img class="rounded-full border-2" alt="Picture of the young man as a young man" src="../../static/img/me.jpg#center">
      </section>
      <section class="grid-area about border-t-2 border-r-2 border-b-2 md:border-none md:pr-0">
        <p class="font-posttitle">Coder, writer, and artist with experience in technical writing, data analysis, webscraping, machine learnning, and webdesign. Curious, driven, and constantly inspired to learn and create.</p>
      </section>
      <section class="grid-area latest-post border-l-2 md:border-l-0 md:border-r-2">
        <h2 class="text-3xl font-posttitle text-justify">
          <a class="hover:text-green hover:underline" href="{{ url_for('blog_post', name=latest_post.path.replace('posts/','')) }}">{{ latest_post.title }}</a>. <p class="text-lg inline">{{latest_post.preview}}</p>
        </h2>
      </section>
      <section class="grid-area border-t-2 md:border-t-0 left-cats">
        <div class="text-3xl sm:text-6xl font-posttitle text-gray-700"> PROSE </div>
        <div class="text-3xl sm:text-6xl font-posttitle text-gray-700"> POEMS </div>
      </section>
      <section class="grid-area right-cats border-t-0 md:border-t-2 border-l-2">
        <div class="text-3xl sm:text-6xl font-posttitle text-right text-gray-700"> PROGS </div>
        <div class="text-3xl sm:text-6xl font-posttitle text-right text-gray-700"> PHOTO </div>
      </section>
      <section class="grid-area arrow">
          <div class="flex justify-center">
            <svg width="60px" height="36px" viewBox="0 0 60 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Mobile" transform="translate(-132.000000, -362.000000)" stroke="#E2E8F0" stroke-width="2">
                        <path d="M162,396 C162,374 162,363 162,363 C162,363 153,363 135,363 L162,396 L189,363 L162,363" id="Path-3"></path>
                    </g>
                </g>
            </svg>
          </div>
      </section>
  </article>
{% endblock %}
