{% extends 'base.html' %}

{% block content %}
<div>
  {% for post in posts %}
    {% if loop.index == 1 %}
      <img href="#"></img>
      <div class="flex pb-8">
        <small>{{ post.date }}</small>
        <a class="font-post text-2xl hover:text-green" href="{{ url_for('post', name=post.path.replace('posts/','')) }}"> {{ post.title }} </a>
      </div>
    {% else  %}
      <div class="flex pb-8">
        <small>{{ post.date }}</small>
          <a class="font-post text-2xl hover:text-green" href="{{ url_for('post', name=post.path.replace('posts/','')) }}"> {{ post.title }} </a>
      </div>
    {% endif  %}
  {% endfor %}
</div>
{% endblock %}
