{% extends 'base.html' %}

{% block description %}{{post.description}}{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
  <div class=title__wrapper>
    <h1 class="post__title">{{ post.title.upper() }}</h1>
    <div class="post__details">
      <div class="post-details__detail">{{ date }}</div>
      <div class="post-details__divider"> · </div>
      <div class="post-details__detail"> samuel mignot </div>
      <div class="post-details__divider"> · </div>
      <div class="post-details__detail"> {{ post.genre }}</div>
    </div>
  </div>
<article class="post">
{% if svg %}
<div class="svg__container">
{{svg}}
</div>
{% endif %}
{{ post.html|safe }}
</article>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/progress.js') }}"></script>
<script src="{{ url_for('static', filename='js/imgGraphConnectors.js') }}"></script>
{% endblock %}
