{% extends 'base.html' %}

{% block description %}{{project_page.description}}{% endblock %}
{% block content %}
  <div class=title__wrapper>
    <h1 class="post__title">{{ project_page.title.upper() }}</h1>
    <div class="post__details">
      <div class="post-details__detail">{{ date }}</div>
      <div class="post-details__divider"> · </div>
      <div class="post-details__detail"> samuel mignot </div>
    </div>
  </div>
  <article class="{{ 'poem' if project_page.category == 'poetry' else '' }} {{'photo' if project_page.category == 'photos' else '' }} {{'post' if project_page.category !='poetry' and project_page.category!='photos' else '' }}and font-post leading-relaxed font-light pb-8">
{{ project_page.html|safe }}
</article>
{% endblock %}
