<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Samuel Mignot Resume</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" / >
  <meta name="description" content="Samuel Mignot Resume" />
  <meta name="robots" content="noindex" />
  <script src="https://use.fontawesome.com/433440fc95.js"></script>
</head>
<body> 
    <article class="resume">

      <section class="grid-area name">
        <div>
          <h1>SAMUEL MIGNOT</h1>
        </div>
        <div class="contacts">
          <p class="site-link__wrapper"> (<span class="contact__label">site</span>) <a class="site-link" href="https://samuelmignot.com">samuelmignot.com</a></p>
          <p class="email-link">
            (<span class="contact__label">email</span>)
            <a href="#" 
			   class="cryptedmail"
               data-name="sjmignot"
               data-domain="gmail"
               data-tld="com"
               onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">
			<img class="email-image" src="{{url_for('static', filename='img/resume_email.png')}}"</img></a>
         </p>
        </div>
        </section>

        <section class="grid-area accounts">
          <div class="icons">
              <a target="_blank" rel="noopener" class="icon__link" href="https://github.com/sjmignot">
				  <i class="icon fa fa-lg fa-github" aria-hidden="true"></i>
				  <p class="pl-1 text-xs my-auto"> github.com/sjmignot </p>
              </a>
              <a target="_blank" rel="noopener" class="icon__link" href="https://www.linkedin.com/in/sjmignot">
				<i class="icon fa fa-lg fa-linkedin-square" aria-hidden="true"></i>
				<p class="pl-1 text-xs my-auto"> linkedin.com/in/sjmignot </p>
              </a>
          </div>
        </section>

        <section class="grid-area about">
            <h2 class="border-gray-400 border-b-2 font-resumetitle text-sm mb-4"> ABOUT </h2>
			<p class="font-resumebody text-xs"> {{resume.about}}</p>
        </section>

        <section class="grid-area work">
            <h2 class="border-gray-400 border-b-2 font-resumetitle text-sm mb-4"> WORK EXPERIENCE </h2>
            <div class="jobs">
				{% for job in resume.jobs %}
				  <div class="job">
					<div class="job-name-description">
						<h3 class="job-name"> {{job.title}}</h3>
					  <div class="job-description">
						<ul class="job-points">
							{% for point in job.work %}
								<li> {{point}} </li>
							{% endfor %}
						</ul>
					  </div>
					</div>
					<div class="job-date">
						<p> {{job.start_date}} - {{job.end_date}} </p>
					</div>
				  </div>
              	</div>
			{% endfor %}
            </div>
        </section>

        <section class="grid-area education">
            <h2> EDUCATION </h2>
			{% for school in resume.education %}
			<div class="school">
				<h3>{{school.school}} | {{school.date}}</h3>
				{% for degree in school.degrees%}
				<p> {{degree}}</p>
				{% endfor %}
			</div>
			{% endfor %}
        </section>

        <section class="grid-area projects">
            <h2> PROJECTS </h2>
            <div class="projects">
			  {% for project in resume.projects %}
              <div class="project">
                <div class="project-name-description">
					<h3 class="project-name"> {{project.title}} <small class="project-focus">({{project.focus}})</small> 
					<div class="project-link-wrapper">
					{% if project.site %}
					<a target="_blank" rel="noopener" href={{project.site}} <i class="fa fa-link project-icon" aria-hidden="true"></i></a>
					{% endif %}
					{% if project.code%}
					<a target="_blank" rel="noopener" href={{project.code}}><i class="fa fa-code project-icon" aria-hidden="true"></i></a>
					{% endif %}
					</div>
					</h3>
                  <div class="project-description">
                    <ul>
						{% for point in project.work %}
							<li> {{point.text}}
							{% if point.preview %}
								<a target="_blank" rel="noopener" href={{point.preview}}>
									<i class="no-print preview-icon fa fa-eye" aria-hidden="true"></i>
								</a>
							</li>
							{% endif %}
						{% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="project-date">
					<p> {{project.start_date}} - {{project.end_date}}</p>
                </div>
              </div>
			  {% endfor %}
            </div>
        </section>

        <section class="grid-area skills">
            <h2> SKILLS </h2>
            <div class="skills-wrapper">
              <div class="coding-skills">
                <h3>Coding</h3>
                <ul class="skills-list skills-list__coding">
				  {% for skill in resume.skills.coding %}
				  <div class="coding-skill">
					  <li class="skill"> {{skill.skill}} </li>
					  <span class="skill-score">{{skill.score*"\u25A1 "}}
					  </span>
				  </div>
				  {% endfor %}
                </ul>
              </div>
			  <div class="other-skills"> 
                <h3> Language and Writing</h3>
                  <ul class="skills-list">
					  {% for skill in resume.skills.other %}
					    <li> {{skill.skill}}</li>
					  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
      </section>
    </article>
</body>
